<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hammersmith_One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gudea">
  <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
  <script src="/js/contact.js "></script>
</head>
<body>
<%- include('handlebars/nav') %>
<div class="container d-flex flex-column">
    <h1>Contact Seattle O.I.D.S.I.</h1>
    <form action="Submit" method="post" id="contact_form">
        <input type="text"id="fname" name="fname" placeholder="Name" /><br>
        <input type="email" id ="email" name="email" placeholder="Email"/><br>
        <textarea type="text" id="message_text" name="message_text" placeholder="Message"></textarea><br>
        <!-- //**ToDO**validate input -->
        <input class="button_input" type="submit" value="Send" />
    </form>
</div>
<%- include('handlebars/footer') %>
</body>
</html>