<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1> 
  <title>O.I.D.S.I. Seattle</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hammersmith_One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gudea">
  <link rel="stylesheet" type="text/css" href="/stylesheets/services.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  <%- include('partials/nav') %>
  <div class="container d-flex flex-column">
    <h1 class="intro">Services</h1>
    <hr class="hr"/>
    <div id="cards">
      <img  class="image" src="/images/yemoja-offering.png"/>
      <ul>
        <li>Ifa readings</li>
        <li>Orisha Readings</li>
        <li>Esentaye (Naming ceremony)</li>
        <li>Spiritual baths & soaps</li>
        <li>House cleaning</li>
        <li>Spiritual Rite and initiations  ritual</li>
        <li>Community Classes and Workshops (for youth and adults)</li>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>