h1 {
    text-align: center;
    display: block;
    width: 100%;
}
form {
    display: block;
    width: 30%;
    width: 35%;
    padding-left:3%;
    padding-bottom: 3%;
    margin: 5%;
    border: 3px solid blue;
    margin-right: auto;
    margin-left: auto;
}

input, label, textarea  {
    padding: 5px;;
    margin: 10px;
    display: block;
}

.button_input {
    margin: 0 auto;
}

.container {
    margin: auto;
    width: 100%;
    padding: 10px;
}