body {
    background-color: #ADD0D0;
}

h1 {
    text-align: center;
    display: block;
    width: 100%;
    color: #004040;
}
form {
    display: block;
    width: 30%;
    width: 35%;
    padding-left:3%;
    padding-bottom: 3%;
    margin: 5%;
    border: 7px double #545B99;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 10px 18px #888888
}

label {
    padding: 5px;;
    margin: 10px;
    display: block;
    opacity: 0.4;
}

input, textarea  {

    padding: 5px;;
    margin: 10px;
    border: 1px solid #545B99;
    display: block;
    background-color: #ADD0D0;

}

input[type="text"], input[type="email"], textarea  {
    background-color: #ADD0D0;

}

.button_input {
    margin: 0 auto;
}

.container {
    margin: auto;
    width: 100%;
    padding: 10px;
}

p {
    text-align: center;
}