*{
    padding:0;
    margin:0;
    font-family: "Gudea";
}  

body {
    background-color: #fff;
    display:flex; flex-direction:column;
}

h1 {
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    margin: 100px;
    color: #000080;
    font-family: "hammersmith_one";
}

.container {
    width: 100%;
    height: 800px;
    background: #fff;
    display: flex;;
    align-items: center;
    justify-content: center;
}

.rooster-button {
    display: block;
}

img {
    padding: 0px;
    margin-bottom: 1%;
    margin-right: 25%;
    margin-left: 12%;
    height: 100%;
    width: 80%;
}

a {
    text-align: center;
    margin: 5px;
}