body {
    background-color: #ADD0D0;
    font-family: "Gudea";
}

nav {
  background: #bec0c2;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
}

h1 {
    color: #004040;
    text-align: center;
    margin: 25px;
    font-family: "hammersmith_one";

}

.calendar {
    text-align:center;
    width:100%;
    border: 2px solid #545B99;
  }
  .calendar > iframe{
    width: 100%;
  }

input[type="text"], textarea {
    background-color: #ADD0D0;
    opacity: 30%;
}

p {
    text-align: center;
}