body {
    background-color: #fff;
    font-family: "Gudea";
}

h1 {
    color: #000080;
    text-align: center;
    margin: 25px;
    font-family: "hammersmith_one";

}

.calendar {
    text-align:center;
    width:100%;
    border: 2px solid #000080;
  }
  .calendar > iframe{
    width: 100%;
  }

input[type="text"], textarea {
    background-color: #fff;
    opacity: 30%;
}

p {
    text-align: center;
}