body {
    background-color: #ADD0D0;
}

nav {
    background: radial-gradient(circle at center, #bec0c2, #8e8d8d);
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
}

.container {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    display: block;
    margin: 50px;
    text-align: center;
    color: #005a5a;
}

h2 {
    color: #545B99
}

#ile_img, #logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#footer p {
    margin: 10px;
    text-align: center;
}