*{
    padding:0;
    margin:0;
}    

body {
    background-color: #fff;
    font-family: "Gudea", sans-serif;
    min-height: 100vh;
    margin: 0;
    display:flex; 
    flex-direction:column;
    text-align: center;
}

.container {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

a {
    margin: 10px;
}

h1 {
    display: block;
    margin: 30px;
    margin-top: 100px;
    text-align: center;
    color: #000080;    
    font-family: "hammersmith_one";
}

h2 {
    display: block;
    text-align: center;
    color: grey;
}

hr {    
    margin-left: 40%;
    width: 20%;
    border-bottom: 2px solid #BCE32D; 
}

.intro {
    text-align: center;
    display: block;
    margin-left: 100px;
    justify-content: center;
    width: 100%;
}

#logo_img {
    display: block;
    margin-left: 33%;
    margin-right: 25%;
    width: 40%;
}