.container {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.intro {
    text-align: center;
    display: block;
    margin-top: 10%;
    justify-content: center;
    width: 100%;
}

#carouselControls {
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

#logo_img {
    display: block;
    margin-left: 40%;
    margin-right: 25%;
    width: 20%;
}