*{
    padding:0;
    margin:0;
}  

body {
    background-color: #fff;
    font-family: "Gudea";
    display:flex; flex-direction:column;
}

h1 {
    line-height: 1px;
    margin-bottom: 20px; ;
    text-align: center;
    color: #000080;
    font-family: "hammersmith_one";

}

h2 {
    margin: 20px;
    text-align: center;
    color: #000080;
}

p {
    margin: 10px;
    text-align: center;
}
.container {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.cards {
    margin: 15px;
    color: #000080;
}

.priest_card {
    display: block;
    height: 50%;
    width: 75%;
    margin: 10px;
    margin-bottom: 100px;
    margin-left: 13%;
    border: 2px solid #C8FA0C;
    box-shadow: 5px 10px 18px #888888;
}

.priest_link {
    display: inline;
    position: relative;
    color: #545B99;
    top: 100px;
    left: 100px;
}

.profile_pic {
    display: inline;
}