.container {
    margin: auto;
    overflow: auto;
    width: 100%;
}

.cards {
    margin: 15px;
    color: #000080;
}

.priest_card {
    display: block;
    height: 50%;
    width: 75%;
    margin: 10px;
    margin-bottom: 100px;
    margin-left: 13%;
    border: 2px solid #C8FA0C;
    box-shadow: 5px 10px 18px #888888;
}

.priest_link {
    display: inline;
    position: relative;
    color: #545B99;
    padding: 10%;
}

.profile_pic {
    display: inline;
}