.container {
    margin: auto;
    overflow: auto;
    width: 100%;
}

.cards {
    margin: 15px;
    color: #000080;
}

img {
    display: block;
    height: 50%;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 5%;
    box-shadow: 5px 10px 18px #888888;
}