<body>
    <div class="slider col">
      <div class="slide">
        <img src="/images/cookout-crowd4.jpeg" alt="**ToDo**" />
      </div>
      <div class="slide">
        <img src="/images/ancestor-offering.jpeg" alt="**ToDo**" />
      </div>
      <div class="slide">
        <img src="/images/ile-at-conference.png" alt="**ToDo**" />
      </div>
    </div>
   <button class="btn btn-next">></button>
   <button class="btn btn-prev"><</button>
 </div>
</body>