<body>
    <div class="slider position-relative col">
      <div class="slide"><img src="/images/gallery/3-women.png" alt="**ToDo**" ></div>
      <div class="slide"><img src="/images/gallery/cookout5.png" alt="**ToDo**" ></div>
      <div class="slide"><img src="/images/gallery/kim-omi-posing-white.png" alt="**ToDo**" ></div>
      <div class="slide"><img src="/images/gallery/omi-fasanmi-green.png" alt="**ToDo**" ></div>
      <div class="slide"><img src="/images/gallery/omi-and-khepra-green.png" alt="**ToDo**" ></div>
      <div class="slide"><img src="/images/gallery/omiero-base.png" alt="**ToDo**" /></div>
      <div class="slide"><img src="/images/gallery/making-omieros.png" alt="**ToDo**" /></div>

    </div>
    <!-- **ToDo***add arrow icons -->
   <button class="btn btn-next">></button> 
   <button class="btn btn-prev"><</button>
 </div>
</body>